textarea{
    resize: none;
}
*:focus {
    outline: 0 !important;
}
.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
}
.wrapper{
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
}
.form{
    margin-bottom: 2em;
    margin-top: 1em;
    height: 5vh;
}
.form-header{
    color: white;
}
.questions-list{
    height: 86.5vh;
    padding-right: 5px;
    overflow-y: auto;
}
li{
    margin-bottom: 0.5em;
    border-radius: 3px;
    background-color: #eee;
}
.question-header{
    font-weight: bold;
    font-size: 13px;
    display: block;
    cursor: pointer;
    text-decoration: none;
    color: #07C;
    padding-right: 12px;
}
.form-header button{
    margin-left: 3em;
}
.question-header:hover{
    color: lightblue;
    cursor: pointer;
}
.question-description{
    color: #999;
}
.question-date{
    font-size: 9px;
    color: #666;
    text-align: right;
}
span.badge{
    background-color: lightblue;
}
.question-error{
    width: 100%;
    background-color: red;
    color: white;
    text-align: center;
}
.vote{
    margin-top: 1em;
}
.up:hover, .down:hover{
    cursor: pointer;
}
.up{
    font-size: 20px;
    color: #3E6;
    margin-right: 0.1em;
}
.down{
    font-size: 20px;
    color: #E36;
}
.header{
  background:#FFB471;
  color:#fff;
}
.footer{
  padding:10px 5px;
  background:#FFB471;
  color:#fff;
}
.header h2{
  font-size:16px;
  line-height:15px;
  display:inline-block;
}
.chat-box{
    height: 83vh;
    overflow-y: auto;
    overflow-x: hidden;
}
.chat-box.active{
    background-color: lightblue;
}
.chat-box, .enter-message{
  background:#ECECEC;
  padding:0 20px;
  color:#a1a1a1;
}
.chat-box .message-box{
  padding:18px 0 10px;
  clear:both;
}
.picture span{
  font-weight:bold;
  font-size:12px;
  clear:both;
  display:block;
  text-align:center;
  margin-top:3px;
}
.message{
  background:#fff;
  display:inline-block;
  padding:13px;
  width:274px;
  border-radius:2px;
  box-shadow: 0 1px 1px rgba(0,0,0,.04);
  position:relative;
}
.message:before{
  content:"";
  position:absolute;
  display:block;
  left:0;
  border-right:6px solid #fff;
  border-top: 6px solid transparent;
  border-bottom:6px solid transparent;
  top:10px;
  margin-left:-6px;
}
.message span{
  color:#555;
  font-weight:bold;
}
.message p{
  padding-top:5px;
}
.message-box.right-img .picture{
  float:right;
  padding:0;
  padding-left:10px;
}
.message-box.right-img .picture img{
  float:right;
}
.message-box.right-img .message:before{
  left:100%;
  margin-right:6px;
  margin-left:0;
  border-right:6px solid transparent;
  border-left:6px solid #fff;
  border-top: 6px solid transparent;
  border-bottom:6px solid transparent;
}
.message-send{
    background-color: rgb(137, 209, 243);
}
.message-send:hover{
    cursor: pointer;
    background-color: rgb(61, 217, 245);
}
.stream{
    background-color: #333;
    height: 100px;
    width: 100%;
    border-radius: 3px;
    border: 1px solid lightsalmon;
}
.main-stream{
    background-color: lightsalmon;
    border-radius: 3px;
    height: 250px;
    width: 100%;
    margin-top: 5px;
    border: 1px solid lightgrey;
}

/* fancy button */
::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
	background: white;
    border-radius: 5px;
    }

::-webkit-scrollbar-thumb {
	background: #ccc;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
	background: #bbb;
}

