<div class="row wrapper">
  <div class="col-md-4">
    <div class="row">
      <div class="col-md-6 col-sm-3 col-xs-6 self-aligned-center">
        <div class="stream">
          <video #videoStream2 width="100%" height="100%" muted></video>
        </div>
      </div>
      <div class="col-md-6 col-sm-3 col-xs-6">
        <div class="stream">
        </div>
      </div>
    </div>
    <div class="row text-center">
      <div class="col-md-12 col-sm-3 col-xs-6 main-stream">
        <video #videoStream1 width="100%" height="100%"></video>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="form">
      <div class="text-center form-header">
        <h4>
          Ask New Question
          <button class="btn btn-warning btn-circle" data-toggle="modal" data-target="#questionForm">
            <i class="fa fa-plus" aria-hidden="true"></i>
          </button>
        </h4>
      </div>
    </div>
    <ul class="list-group questions-list">
      <li class="list-group-item" *ngIf="questions?.length === 0">No questions yet, be the first to ask !</li>
      <li class="list-group-item" *ngFor="let q of questions, let indx = index">
        <div class="row">
          <div class="col-md-9">
            <p class="question-header" (click)="selectQuestion(q)">{{q.content}}</p>
            <p class="question-description">{{q.description}}</p>
            <p class="question-date">{{q.date}}</p>
          </div>
          <div class="col-md-3 text-center">
            <span class="badge">{{ q.votes }}</span>
            <br>
            <div class="vote">
              <i class="fa fa-thumbs-up up" aria-hidden="true" (click)="upvoteQuestion(q.id)"></i>
              <i class="fa fa-thumbs-down down" aria-hidden="true" (click)="downvoteQuestion(q.id)"></i>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>
  <div class="col-md-4">
    <div class="header text-center">
      <h2>{{selectedQ?.content ? selectedQ?.content : 'Discussion'}}</h2>
      <!-- <a href="#" title="Add Friend to this chat">+</a> -->
    </div>
    <div class="chat-box" #chatContainer>

      <!--         <div class="message-box left-img">
          <div class="message">
            <span>Bobby Giangeruso</span>
            <p>Hey Mike, how are you doing?</p>
          </div>
        </div> -->

      <div class="message-box right-img" [ngClass]="{ 'active': true == true }" *ngFor="let msg of messages">
        <div class="message">
          <span>{{msg.username}}</span>
          <p>{{msg.message}}</p>
        </div>
      </div>
    </div>
    <div class="footer">
      <div class="input-group">
        <input type="text" class="form-control" name="message" placeholder="Message..." [(ngModel)]="message" (keyup)="onKey($event)">
        <span class="input-group-addon message-send" [attr.disabled]="selectedQ?.content ? false : true" (click)="addMessage()">Send</span>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div id="questionForm" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <p class="question-error">{{questionError}}</p>
    <form>
      <div class="form-group">
        <input type="text" class="form-control" name="question" placeholder="Ask Question..." [(ngModel)]="question">
      </div>
      <div class="form-group">
        <textarea rows="3" class="form-control" name="description" placeholder="Add Description..." [(ngModel)]="description"></textarea>
      </div>
      <div class="text-center">
        <button class="btn btn-warning" (click)="addQuestion()">
          Add Question
        </button>
      </div>
    </form>
  </div>
</div>
