<div class="container row">
  <div class="col-md-6 col-md-offset-1 text-center para">
    <h2>Welcome to the first free video collaboration solution.</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad amet facere, ipsam
      itaque iusto maxime natus neque quidem sed soluta? Aperiam asperiores et eveniet
      laboriosam nemo optio quidem, vel? Hic.</p>
  </div>
  <div class="login col-md-5" *ngIf="!loginMode">
    <h4>Join Room, Start Collaborating</h4>
    <p class="login-error">{{loginError}}</p>
    <form>
      <input type="text" name="username" placeholder="Username" [(ngModel)]="username" />
      <input type="text" name="roomId" placeholder="Room Name" [(ngModel)]="roomId" />
      <button class="btn btn-primary btn-block btn-large" (click)="joinRoom()">JOIN NOW</button>
    </form>
    <p class="change-mode" (click)="changeMode()">Create Room</p>
  </div>
  <div class="login col-md-5" *ngIf="loginMode">
    <h4>Create Room, Invite People</h4>
    <p class="login-error">{{loginError}}</p>
    <form>
      <input type="text" name="username" placeholder="Username" [(ngModel)]="username" />
      <input type="text" name="roomId" placeholder="Room ID" [(ngModel)]="roomId" />
      <button class="btn btn-primary btn-block btn-large" (click)="joinRoom()">JOIN NOW</button>
    </form>
    <span class="change-mode" (click)="changeMode()">Join Room</span>
  </div>
</div>
