* {
  color: white;
}
.para {
  color: white;
  margin-top: 15%;
}
.change-mode{
  width: 100%;
  text-align: center;
}
.change-mode:hover{
  color: lightcoral;
  cursor: pointer;
}
.login {
  margin-top: 15%;
	width:300px;
	height:300px;
  background-color: transparent;
}
.login h4 {
  text-align: center;
  margin-bottom: 15px;
}

input {
	width: 100%;
	margin-bottom: 10px;
	background: rgba(255,255, 255,0.9);
	border: none;
	outline: none;
	padding: 10px;
	font-size: 13px;
	color: #fff;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.3);
	border: 1px solid rgba(0,0,0,0.3);
	border-radius: 4px;
	box-shadow: inset 0 -5px 45px rgba(100,100,100,0.2), 0 1px 1px rgba(255,255,255,0.2);
	-webkit-transition: box-shadow .5s ease;
	-moz-transition: box-shadow .5s ease;
	-o-transition: box-shadow .5s ease;
	-ms-transition: box-shadow .5s ease;
	transition: box-shadow .5s ease;
}
input:focus { box-shadow: inset 0 -5px 45px rgba(100,100,100,0.4), 0 1px 1px rgba(255,255,255,0.2); }

::placeholder {
   color:    #222;
}

.login-error{
  background-color: red;
  text-align: center;
  color: #fff;
}

