html {
  background:url(http://www.replaymag.com/wp-content/uploads/2016/02/Rose-Quartz-Serenity-640x336.jpg) center center no-repeat fixed;
  -webkit-background-size:cover;
  -moz-background-size:cover;
  -o-background-size:cover;background-size:cover;
}
body{
    background-color: rgba(222, 222, 222, 0);
}
